.bg {
  background-image: url("/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-login-img {
  background-image: url("/checking-boxes.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
